#page *:focus {
    outline: 2px dotted red;
}

#page #content:first-child {
    margin-left: 0 !important;
}

.draggable {
    position: absolute;
}

div[data-id='barcode'] canvas {
    max-width: 100%;    
    display: block;
    margin: 0 auto;
}

*[data-id]:focus .ui-rotatable-handle {
    display: block;
}

.ui-rotatable-handle {
    position: absolute;
    bottom: 0 !important;
    top: 0 !important;
    display: none;
}


.ui-icon-gripsmall-diagonal-se {
    display: none !important;
}